.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 56px;
  text-transform: uppercase;
  padding: 31px 0;
  position: relative;
  z-index: 1;

  .title {
    color: #ffb400;
    margin-left: 14px;
  }

  .titleBg {
    font-size: 110px;
    position: absolute;
    letter-spacing: 10px;
    top: 0;
    z-index: -1;
    color: hsla(0, 0%, 100%, 0.07);
  }

  @media screen and (max-width: 768px) {
    padding: 0;

    .titleBg {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    font-size: 45px;
  }

  @media screen and (max-width: 375px) {
    font-size: 30px;
  }
}
